.Image {
  /*background-color: #fff;*/
  /*border: 5px solid #fff;*/
  width: calc(50% - 10px);
  margin: 0 5px 10px;
  overflow: hidden;

  @include breakpoint(break-get(small)) {
    width: calc(33% - 20px);
    margin: 0 25px 25px 0;
  }
  @include breakpoint(break-get(medium)) {
    width: calc(25% - 19px);
  }

  &:nth-child(3n+0) {
    @include breakpoint(break-get(small) break-get(medium) - 1) {
      margin-right: 0;
    }
  }
  &:nth-child(4n+0) {
    @include breakpoint(break-get(medium)) {
      margin-right: 0;
    }
  }
}

.Image-img {
  margin-bottom: 3px;
  cursor: pointer;

  @include breakpoint(break-get(full)) {
    min-height: 231px;
  }
}

.Image-keyword {
  margin-right: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  @include font-size(14);

  &:hover {
    color: $color-blue;
  }
}
