.Menu {

}

.Menu-item {
  display: inline-block;

  a {
    padding: 0 10px;
    color: #fff;
    text-decoration: none;

    &:hover,
    &.is-active {
      text-decoration: underline;
    }
  }
}
