*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $background;
  /*height: 100%;*/
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="text"] {
  border: none;
  width: 100%;
  padding: 20px;
  outline: 0;
  //transition-duration: 0.2s;

  &:focus {
    //border: 1px solid #ccc;
    //background: #fff;
    //outline: 3px solid #ccc;
    //width: 300px;
  }
}

h1 {
  margin: 0;
}
